{% extends 'base.html.twig' %}

{% block title %}Nové zařízení{% endblock %}

{% block body %}
    <h1>Vytvoření nového zařízení</h1>

    {{ include('device/_form.html.twig') }}

    <a href="{{ path('app_device_index') }}">Zpět na seznam zařízení</a>
{% endblock %}
